.textContent {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, Geneva, sans-serif;
}

.paddingTop {
    padding-top: 10px;
}

.bottomBorder{
    border-bottom: 4px solid #201e20;
    float: left;
}

.paddingBottom {
    padding-bottom: 10px;
}

.alignCenter {
    text-align: center;
}

.bigData
{
    font-weight: bold;
    font-size: 20px;
    color: #cc0000;
}